body {
  margin: 0;
}

html {
  overflow: auto;
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}

div,
header,
footer,
aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  background-color: #eee;
  min-height: 100%;
}

.container {
  background-color: #fff;
  margin: auto;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

.row {
  position: relative;
  padding-bottom: 50px;
}

.content-wrapper {
  padding: 20px;
}


.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #999;
  height: 50px;
  width: 100%;
}

.main {
  margin-right: 300px;
  -webkit-transition: margin .25s linear;
  transition: margin .25s linear;
  min-height: calc(100vh - 100px);
}

.main.wide {
  margin-right: 0;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: -15px 0 15px -15px rgba(51, 51, 51, .5);
  -moz-box-shadow: -15px 0 15px -15px rgba(51, 51, 51, .5);
  box-shadow: -15px 0 15px -15px rgba(51, 51, 51, .5);
  opacity: 1;
  -webkit-transition:  opacity .25s linear;
  transition: opacity .25s linear;
  transition-delay: .05s;
  width: 300px;
  height: 100%;
}

.sidebar.hide {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #999;
  height: 50px;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #34B3A0;
  border-color: transparent;
  padding: 0 15px;
  line-height: 38px;
  height: 38px;
}

.btn:hover {
  background-color: #46c9b6;
}

.log-in {
  margin: 0 20px;
}

/* Popup */

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  background-color: rgba(255, 204, 0, .9);
  margin: auto;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  height: 100%;
}

.popup-content-wrapper {
  display: inline-block;
}


@media (max-width: 700px) {
  .main {
    margin-right: 0;
    -webkit-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  .sidebar {
    opacity: 0;
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
  }
}
